*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  // fonts
  --heading-font: 'Roboto', system, sans-serif;
  --logo-font: 'Fredericka the Great', cursive;
  // font-family: 'Monoton', cursive;
  // font-family: 'Fredericka the Great', cursive;
  // font-family: 'Cabin Sketch', cursive;
  // font-family: 'Bungee Outline', cursive;

  // colors
  --white: #fff;
  --green: #04a99b;
  --black: #023232;
  --light-gray: #bcbdbd;
  --gray: #6d786b;
  --blue: #51c8f0;
  --orange: #fb9f6b;

  --elem-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);

  // sizes
  --mb-fonts: 1.25em;
  --top-menu: 7.5rem;
  --page-padding: 2rem;
  --page-padding-medium: 8rem;
  --page-padding-large: 12rem;
  --component-padding: 0.5rem;
  --icon-small: 2rem;
  --icon-middle: 4rem;
}

html {
  // This defines what 1rem is
  font-size: 50%; //1 rem = 8px, 8/16 = 50%

  @include respond(tab-port) {
    // width > 600
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-land) {
    // width > 900
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  }

  @include respond(big-screen) {
    // width > 1200
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  position: relative;
  box-sizing: border-box;
}

::selection {
  color: var(--white);
  background-color: var(--green);
}
