/////////////////////////////////////////////////
///////// if local font don't find connect external
///////// font. Example from google fonts
/////////
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 100;
//   src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../static/font/fontawesome-webfont.woff?v=3.2.1');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system;
  font-size: 2rem;
  line-height: 1.7;
  background-color: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 300;
}

p {
    margin-bottom: var(--mb-ss);
}

img {
    display: inline-block;
    width: 100%;
}

