@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Cabin+Sketch:400,700|Fredericka+the+Great|Monoton&text=VABADUSE');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font-family: system;
  font-size: 2rem;
  line-height: 1.45;
  background-color: var(--white);
  color: var(--black);
}

#{headings(1,6)} {
  font-family: var(--heading-font);
  margin: 2.75rem 0rem 1rem;
  font-weight: 300;
  line-height: 1.15;
}


.heading-1 {
  margin-top: 0;
  font-size: 2.488em;
}

.heading-2 {
  font-size: 2.074em;
}

.heading-3 {
  font-size: 1.728em;
}

.heading-4 {
  font-size: 1.44em;
}

.heading-5,
.heading-6 {
  font-size: 1.2em;
}

.paragraph {
  margin-bottom: var(--mb-fonts);
}

small,
.text_small {
  font-size: 0.833em;
}

img {
  display: inline-block;
  width: 100%;
}
