@import './abstacts/vars';
@import './abstacts/mixins';
@import './abstacts/func';

@import './base/typography';
@import './base/base';

@import './layout/home-page';
@import './layout/header';
@import './layout/slide-show';

@import './components/nav';
@import './components/logo';
@import './components/va-icon';
@import './components/btn-icon';
@import './components/intro';
@import './components/slider';
