{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
    "arrowFunctions": true,
  },
  "env": {
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error"
  }
}
