- const {header: {heading, subHeading, paragraphs, btn}} = require('./data.json');

header#home.header
    .intro
        h1.heading= heading
        span.subHeading= subHeading
        +paragraph(paragraphs)
        +btn-icon(btn)
        
