.btn-icon {
  &:link,
  &:visited {
    text-decoration: none;
    & .va-icon {
      fill: var(--light-gray);
    }
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
    animation: pulsate 1s infinite;
    & .va-icon {
      fill: var(--green);
    }
  }
}
