.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60rem;
  margin: auto;
  padding: 10px 20px;
  color: rgba($white, 0.8);
  text-align: left;
  background-color: rgba($black, 0.8);
  box-shadow: var(--elem-shadow);

  .heading {
    color: inherit;
    font-size: 3rem;
    font-style: italic;
    text-transform: uppercase;
  }

  .subHeading {
    order: -1;
  }

  .paragraph {
    color: inherit;
    font-size: 1.8rem;
  }

  .btn-icon {
    text-align: right;
  }
}
