.intro {
    margin: auto;
    padding: 10px 20px;
    background-color: rgba($black, 0.8);
    color: rgba($white, .8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--elem-shadow);
    max-width: 60rem;
    text-align: left;
    
    .heading {
        font-size: 3rem;
        text-transform: uppercase;
        font-style: italic;
        color: inherit;
    }

    .subHeading {
        order: -1;
    }

    .paragraph {
        font-size: 1.8rem;
        color: inherit;
    }

    .btn-icon {
        text-align: right;
    }
}
