.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  background: var(--green);

  @supports (position: sticky) {
    position: sticky;
    width: auto;
  }
  @include respond(tab-land) {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  @include respond(desctop) {
    padding: 2rem 3rem;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: auto;
    margin-top: 2rem;
    transition: all 0.5s;
    @include respond(tab-land) {
      flex-wrap: nowrap;
      margin: 0 auto;
      margin-top: -0.5rem;
    }
    @include respond(desctop) {
      margin-left: 3rem;
      margin-right: auto;
    }
  }

  &__item {
    margin-bottom: 1rem;
    width: 45%;
    opacity: 1;
    transform: translateY(0);

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition: all 0.1s ease 0.1s * $i;
      }
    }

    @include respond(tab-land) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition: none;
        }
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 700;
      background: var(--white);
      display: inline-block;
      text-decoration: none;
      padding: 1.6rem 0;
      width: 100%;
      height: 100%;
      transition: 0.2s all;
      color: var(--black);

      @include respond(tab-land) {
        font-size: 1.6rem;
        background: none;
        padding: 0 1.6rem;
        height: auto;
      }
      @include respond(desctop) {
        font-size: 2rem;
      }
    }

    &:hover,
    &:focus {
      outline: none;
      background: var(--green);
      color: var(--white);
      box-shadow: 0 0.5rem 1rem rgba(black, 0.5);
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 0.2rem 1rem rgba(black, 0.5);
    }
  }

  &__logo,
  &__phone {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;

    @include respond(desctop) {
      font-size: 2rem;
    }
  }

  &__logo {
    background: var(--green);
    cursor: pointer;
    @include respond(tab-land) {
      & .logo {
        font-size: inherit;
      }
    }
  }

  &__phone {
    margin-top: 0;
    display: none;
    @include respond(tab-land) {
      background: none;
      display: block;
    }
  }

  //////////////////////////////////////////////////
  // CLOSE MENU STATE

  &--close {
    background: none;
  }

  &--close &__list {
    height: 0;
    overflow: hidden;
    margin-top: 1px;
  }

  &--close &__item {
    opacity: 0;
    transform: translateY(-10px);
  }

  &--close &__logo {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.3);
  }

  &--close &__phone {
    margin-top: 2.5rem;
  }
}
