.skill-items {
  list-style: none;
  &__link {
    &:link,
    &:visited {
      padding: 3rem;
      text-decoration: none;
      display: inline-block;
      & .va-icon {
        fill: var(--light-gray);
      }
    }

    &:active,
    &:focus,
    &:hover {
      outline: none;
      animation: pulsate 1s infinite;
      & .va-icon {
        fill: var(--green);
      }
    }
  }

  @include respond(tab-land) {
    display: flex;
  }

  &__item {
    max-width: 60rem;
    margin: 0 auto;
    padding-top: var(--page-padding);
    @include respond(tab-land) {
      max-width: 35rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--light-gray);
      @include respond(tab-land) {
        border-bottom: none;
      }
    }
  }

  &__icon {
    display: block;
    display: flex;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    border: 4px solid var(--light-gray);
    border-radius: 50%;
    transition: all 0.3s ease;

    .va-icon {
      display: block;
      width: 6rem;
      height: 6rem;
      margin: auto;
      transition: all 0.3s ease;
    }
  }

  &__description {
    .heading-3 {
      color: var(--green);
    }

    .paragraph {
      color: var(--gray);
    }
  }

  &__item:hover &__icon {
    border: 4px solid var(--green);

    .va-icon {
      transform: rotate(360deg);
      fill: var(--green);
    }
  }
}
