.contacts {
  position: relative;
  @include respond(tab-land) {
    display: flex;
    justify-content: flex-end;
  }
  &__header {
    position: relative;
    background: var(--green);
    color: var(--white);
    padding: var(--page-padding-medium);
    font-weight: 100;
    z-index: 10;
    @include respond(tab-land) {
      height: 90vh;
      width: 40%;
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: rgba($black, 0.4);
    }
    @include respond(desctop) {
      width: 35%;
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
  }
  &__item-value {
    font-size: 1.5rem;
    opacity: 0.8;
  }
  &__btn {
    margin-top: 4rem;
    display: none;
    width: 80px;
    height: 80px;
    border: 5px solid var(--green);
    border-radius: 50%;
    background: transparent;
    transform: rotate(0deg);
    cursor: pointer;
    transition: all 0.4s;

    &:hover,
    &:focus {
      outline: none;
      transform: rotate(360deg);
      border: 5px solid var(--white);
      .va-icon {
        fill: var(--white);
      }
    }

    @include respond(tab-land) {
      display: block;
    }
  }

  &__map {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    @include respond(tab-land) {
      display: block;
      background: red;
    }
  }

  .form {
    z-index: 1;
    &__msg {
      display: block;
      height: 4rem;
      opacity: 0;
      margin-bottom: 1.5rem;
      transition: all 0.4s;
      &--active {
        opacity: 1;
      }
    }
  }

  &__msg {
    display: block;
    height: 4rem;
    opacity: 0;
    margin-bottom: 1.5rem;
    transition: all 0.4s;
    &--active {
      opacity: 1;
    }
  }
}
