.header {
  display: flex;
  width: 100%;
  // for phone view exclude top bar
  height: calc(100vh - var(--top-menu));
  margin-top: -7.25rem;
  padding-right: var(--page-padding);
  // end top menu
  padding-left: var(--page-padding);

  background-image: url('../static/img/bg-header.jpg?size=600');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include respond(tab-land) {
    margin-top: 0;
    background-image: url('../static/img/bg-header.jpg?size=1200');

    .intro {
      margin-left: 12rem;
    }
  }

  @include respond(desctop) {
    background-image: url('../static/img/bg-header.jpg?size=2000');
  }
}
