.skills {
  position: relative;
  padding: var(--page-padding);
  background: rgba($light-gray, 0.2);
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);

  @include respond(tab-port) {
    padding: var(--page-padding-medium);
  }
}
