.slide-show {
  position: relative;
  background-image: url('../static/img/bg-slider.jpg?size=600');
  background-size: cover;
  background-position: center;
  padding: var(--page-padding);
  height: 95rem;

  .slider {
    margin-top: var(--page-padding);
    @include respond(tab-land) {
      margin-top: var(--page-padding-large);
    }
  }

  @include respond(tab-port) {
    padding: var(--page-padding-medium);
}
  @include respond(tab-land) {
    padding: var(--page-padding-large);
    background-image: url('../static/img/bg-slider.jpg?size=1200');
    min-height: 100vh;
  }
  @include respond(desctop) {
    background-image: url('../static/img/bg-slider.jpg?size=2000');
    min-height: 100vh;
  }
}
