.twitter {
  background: var(--blue);
  position: relative;
  padding: var(--page-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 30rem;

  &__logo {
    margin-right: 2%;
    .va-icon {
      fill: var(--white);
      height: 100px;
      width: 100px;
    }
  }

  &__content {
    position: relative;
    width: calc(80% - 120px);
    max-width: 60rem;
    text-align: left;
  }

  &__item {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-55%);
    transition: all 0.4s;
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }

  &__text {
  }

  &__meta {
    display: flex;
    font-size: 1.5rem;
  }
}
